In [1]:
mylist = ['string',2,3,4]

In [2]:
len(mylist)

4

In [3]:
mylist[2:]

[3, 4]

In [4]:
mylist[::-1]

[4, 3, 2, 'string']

In [7]:
mylist[0:3:1]

['string', 2, 3]

In [8]:
anotherlist = [5,6]

In [10]:
newlist = mylist + anotherlist

In [11]:
newlist

['string', 2, 3, 4, 5, 6]

In [16]:
newlist.append(7)

In [17]:
newlist

['string', 2, 3, 4, 5, 6, 7, 7, 7]

In [18]:
newlist

['string', 2, 3, 4, 5, 6, 7, 7, 7]

In [20]:
newlist.pop()

7

In [21]:
newlist

['string', 2, 3, 4, 5, 6, 7]

In [22]:
newlist.pop(0)

'string'

In [23]:
newlist

[2, 3, 4, 5, 6, 7]

In [24]:
newlist.pop(3)

5

In [25]:
newlist.append(5)

In [26]:
8

8

In [27]:
newlist.append

In [28]:
newlist

[2, 3, 4, 6, 7, 5]

In [29]:
newlist[0] = 9

In [30]:
newlist

[9, 3, 4, 6, 7, 5]

In [36]:
newlist[0]= 'Jetendar Kumar Khatri Khipro'

In [37]:
newlist

['Jetendar Kumar Khatri Khipro', 3, 4, 6, 7, 5]

In [41]:
newlist[0]

'Jetendar Kumar Khatri Khipro'

In [44]:
newlist[0].upper()

'JETENDAR KUMAR KHATRI KHIPRO'

In [45]:
newlist

['Jetendar Kumar Khatri Khipro', 3, 4, 6, 7, 5]

In [47]:
newlist[0].split() + newlist

['Jetendar',
 'Kumar',
 'Khatri',
 'Khipro',
 'Jetendar Kumar Khatri Khipro',
 3,
 4,
 6,
 7,
 5]

In [48]:
num_list = [1,8,7,3,2,9]
new_list = ['a','b','z','d','p']

In [49]:
num_list.sort()

In [51]:
num_list

[1, 2, 3, 7, 8, 9]

In [52]:
new_sortel_list = num_list

In [54]:
new_sortel_list

[1, 2, 3, 7, 8, 9]

In [55]:
new_list.sort()

In [56]:
new_list

['a', 'b', 'd', 'p', 'z']

In [57]:
new = ['i','e','a','o','u' ]

In [58]:
new.sort()

In [59]:
new

['a', 'e', 'i', 'o', 'u']

In [60]:
dict = {'key1':'a',''}

SyntaxError: invalid syntax (<ipython-input-60-be0cbfc5fd67>, line 1)

In [63]:
%%writefile myfile.txt
hello this is  a text file
this is second line

Writing myfile.txt

In [64]:
touple()

NameError: name 'touple' is not defined

In [65]:
set{'1','2','3'}

SyntaxError: invalid syntax (<ipython-input-65-e8f4640ce69c>, line 1)