In [1]:
mylist = [anything for anything in "mylist"]

In [2]:
mylist

['m', 'y', 'l', 'i', 's', 't']

In [7]:
new = [x for x in "let'shavesomefun"]

In [8]:
new

['l',
 'e',
 't',
 "'",
 's',
 'h',
 'a',
 'v',
 'e',
 's',
 'o',
 'm',
 'e',
 'f',
 'u',
 'n']

In [9]:
newlist = [num for num in range(5,15)]

In [10]:
newlist

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
lst = [num**2 for num in range(1,12)]

In [12]:
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [16]:
mylist = [x for x in range(0,11) if x%2==0]

In [14]:
mylist

[0, 2, 4, 6, 8, 10]

In [17]:
mylist = []

for x in [2,4,6]:
    for y in [1,100,1000]:
        mylist.append(x*y)

In [18]:
mylist

[2, 200, 2000, 4, 400, 4000, 6, 600, 6000]

In [19]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [20]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [21]:
st = 'Print only the words that start with s in this sentence'

In [22]:
mylist = [x for x in st if x[0]==s]

NameError: name 's' is not defined

In [23]:
mylist = [x for x in range(0,11) if x%2==0]

In [24]:
mylist

[0, 2, 4, 6, 8, 10]

In [25]:
mylist = [x for x in range(1,50) if x%3==0]

In [26]:
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [27]:
st = 'Print every word in this sentence that has an even number of letters'

In [28]:
mylist = [x for x in st if len(st)%2==0]

In [29]:
mylist

['P',
 'r',
 'i',
 'n',
 't',
 ' ',
 'e',
 'v',
 'e',
 'r',
 'y',
 ' ',
 'w',
 'o',
 'r',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e',
 ' ',
 't',
 'h',
 'a',
 't',
 ' ',
 'h',
 'a',
 's',
 ' ',
 'a',
 'n',
 ' ',
 'e',
 'v',
 'e',
 'n',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 ' ',
 'o',
 'f',
 ' ',
 'l',
 'e',
 't',
 't',
 'e',
 'r',
 's']

In [30]:
mylsit = [x for x in range(1,100) for x%3==0 print(fizz) for x%5==0 print(bizz)]

SyntaxError: invalid syntax (<ipython-input-30-cbb2727cdc3d>, line 1)

In [43]:
st = 'Sam Print only the words that start with s in this sentence'

In [48]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

Sam
start
s
sentence

In [49]:
print(range(0,11,2))

range(0, 11, 2)

In [50]:
range(0,11,2)

range(0, 11, 2)

In [52]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [53]:
print list

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(list)? (<ipython-input-53-920f3c182fcc>, line 1)

In [54]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [56]:
mylist = [ x for x in range(0,51) if x%3==0]

In [57]:
print(mylist)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [62]:
for num in range(1,101):
    if num%5 == 0 and num%3 == 0:
        print('fizzbuz')
    elif num%5 == 0:
        print('buz')
    elif num%3 == 0:
        print('fizz')
    else:
        print(num)

1
2
fizz
4
buz
fizz
7
8
fizz
buz
11
fizz
13
14
fizzbuz
16
17
fizz
19
buz
fizz
22
23
fizz
buz
26
fizz
28
29
fizzbuz
31
32
fizz
34
buz
fizz
37
38
fizz
buz
41
fizz
43
44
fizzbuz
46
47
fizz
49
buz
fizz
52
53
fizz
buz
56
fizz
58
59
fizzbuz
61
62
fizz
64
buz
fizz
67
68
fizz
buz
71
fizz
73
74
fizzbuz
76
77
fizz
79
buz
fizz
82
83
fizz
buz
86
fizz
88
89
fizzbuz
91
92
fizz
94
buz
fizz
97
98
fizz
buz

In [64]:
for num in range(1,101):
    if num%15 == 0:
        print('fizzbuzz')
    elif num%3 == 0:
        print('fizz')
    elif num%5 == 0:
        print('buzz')
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [65]:
st = 'Print every word in this sentence that has an even number of letters'

In [66]:
st

'Print every word in this sentence that has an even number of letters'

In [67]:
st.split()

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letters']

In [68]:
for word in st.split():
    print(word)

Print
every
word
in
this
sentence
that
has
an
even
number
of
letters

In [70]:
for word in st.split():
    if len(word)%2 == 0:
        print(word+ ' is even')

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
number is even
of is even

In [71]:
st = 'Create a list of the first letters of every word in this string'

In [72]:
st

'Create a list of the first letters of every word in this string'

In [76]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [77]:
def name_function():
    print('Hello')

In [79]:
name_function()

Hello

In [81]:
help(name_function)

Help on function name_function in module __main__:

name_function()

In [88]:
def say_hello(name ='Jetendar'):
    print('Hello '+name)

In [89]:
say_hello()

Hello Jetendar

In [90]:
def add(a1,a2):
    return a1+a2

In [91]:
result = add(15,25)

In [92]:
result

40

In [93]:
def myfunc(x):
    if x == True:
        # print('Hello')
        return 'Hello'
    elif x == False:
        # print('Goodbye')
        return 'Goodbye'

In [96]:
myfunc

In [97]:
myfunc(True)

'Hello'

In [100]:
def add(a,b):
    return  a + b

In [101]:
result = add(5,3)

In [102]:
result

8

In [103]:
def concatinate():
    return("Hello"+" World!")

In [111]:
result = concatinate()

In [112]:
print(result)

Hello World!

In [113]:
print(result)

Hello World!

In [115]:
concatinate()

'Hello World!'

In [116]:
def func():
    print("Hello, World")

In [117]:
func()

Hello, World

In [118]:
 particulars = {
  "last name": "Verdi",
  "first name": "Giuseppe",
  "profession": "composer",
}
    def display_info():
          for fact in particulars.values():
            print(fact)
            display_info()

SyntaxError: invalid syntax (<ipython-input-118-4ac482d66d05>, line 1)

In [122]:
def myfunc(name):
    print('my name is {}'.format(name))

In [123]:
name = "Jetendar"

In [124]:
myfunc(name)

my name is Jetendar

In [136]:
def myfunc(x,y,z):
    if z == True:
        return x
    elif z == False:
        return y

In [137]:
myfunc(x,y,z)

NameError: name 'z' is not defined

In [133]:
def afunc(n):
    if n%2 == 0:
        print('the numeber is even')
    else:
        print('the numeber is odd')

In [134]:
afunc(8)

the numeber is even

In [139]:
afunc(7)

the numeber is odd

In [140]:
def is_greater(a,b):
    if a>b:
        return True
    else:
        return False

In [141]:
is_greater(8,9)

False

In [142]:
is_greater(9,8)

True

In [143]:
def myfunc(*args):
    return sum(args)*0.05

In [144]:
myfunc(40,60)

5.0

In [147]:
myfunc(100,200,300,500,600,200,100)

100.0

In [168]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [169]:
myfunc(10,20,30, fruit='apple', food='eggs', vegies='capsicum', salad='brokely')

(10, 20, 30)
{'fruit': 'apple', 'food': 'eggs', 'vegies': 'capsicum', 'salad': 'brokely'}
I would like 10 eggs

In [171]:

myfunc(10, 20, 30, 40, 50, fruit = 'Apple', vagies = 'Bhinddhi', animals = 'dogs', car = 'toyota', food = 'pizza')

(10, 20, 30, 40, 50)
{'fruit': 'Apple', 'vagies': 'Bhinddhi', 'animals': 'dogs', 'car': 'toyota', 'food': 'pizza'}
I would like 10 pizza

In [174]:
def myfunc(*args):
    return sum(args)

In [178]:
def myfunc(*args):
    out = []
    for num in args:
        if num%2==0:
            out.append(num)
    return out

In [179]:
myfunc(1,2,3,4,5,6)

[2, 4, 6]

In [180]:
def my_even_func(*args):
    out = []
    for num in args:
        if num%2 == 0:
            out.append(num)
    return out

In [181]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2 == 0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [182]:
myfunc('hello you there where are you')

'hElLo yOu tHeRe wHeRe aRe yOu'

In [183]:
def lesser_of_two_even(x,y):
    if x%2 == 0 and y%2 == 0:
        if x < y:
            result = x
        else:
            result = y
    else:
        if x > y:
            result = x
        else:
            result = y
    return result

In [184]:
lesser_of_two_even(12,6)

6

In [185]:
lesser_of_two_even(7,6)

7

In [188]:
def square(num):
    return num**2
my_nums = [1,2,3,4,5]

In [189]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [190]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [191]:
list(filter(lambda num:num%2 == 0,my_nums))

[2, 4]

In [192]:
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25]

In [193]:
names = ['Jetendar', 'Kumar', 'Khatri']

In [194]:
list(map(lambda x:x[0],names))

['J', 'K', 'K']

In [195]:
list(filter(lambda x:x[0],names))

['Jetendar', 'Kumar', 'Khatri']

In [196]:
list(map(lambda x:x[::-1],names))

['radneteJ', 'ramuK', 'irtahK']

In [197]:
st = 'name is Jetendar Kumar Khatri'

In [198]:
st.split()

['name', 'is', 'Jetendar', 'Kumar', 'Khatri']

In [200]:
class Sample():
    pass

In [201]:
my_sample = Sample()

In [202]:
type(my_sample)

__main__.Sample

In [203]:
class Dog():
    def __init__ (self,breed,name,spot):
        self.breed = breed
        self.name = name
        self.spot = spot

In [204]:
my_dog = Dog(breed = 'lab', name = 'Sammy', spot = False)

In [206]:
type(my_dog)

__main__.Dog

In [207]:
my_dog.breed

'lab'

In [208]:
my_dog.name

'Sammy'

In [209]:
my_dog.spot

False

In [212]:
my_dog.breed

'lab'

In [213]:
class Circle():
    
    pi = 3.14
    
    def __init__(self, radius=1):
        self.radius = radius
        
    def get_cercumference(self):
        return self.radius*self.pi*2

In [214]:
my_circle = Circle()

In [215]:
my_circle.pi

3.14

In [217]:
my_circle.get_cercumference()

6.28

In [1]:
1 * (1/0)

ZeroDivisionError: division by zero