In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(1,51,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

TypeError: 'type' object is not iterable

In [8]:
index_count = 0
for letter in 'abcd':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d

In [9]:
x = 100 % 11 
print(x)

1

In [11]:
first_name = "Sherlock"
if first_name == "Sherlock":
    last_name = "Holmes"
    pal = "Watson"

In [12]:
pal

'Watson'

In [13]:
last_name

'Holmes'

In [15]:
nationality = "UK"
age = 20
if nationality == "UK" and (age < 21 or age > 64):
    print("qualified")

qualified